services:
  db:
    image: postgres:15
    container_name: postgres_fastapi_security
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fastapi_security
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres

volumes:
  postgres_data:


networks:
  postgres:
    driver: bridge
